:root {
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
}

*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
body, html {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
    height: 100%;
}
.caixa {
    background-color: var(--darkCyan);
    height: 100%;
    position: relative;
    overflow: hidden;
}
.circuloTopo {
    position: absolute;
    top: -70%;
    right: 70%;
    z-index: 9;
}
.circuloRodape {
    position: absolute;
    bottom: -70%;
    left: 70%;
    z-index: 9;
}
.conteudo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}
.perfil {
    position: relative;
    z-index: 10;
    width: 325px;
    height: 375px;
    background-color: #fff;
    border-radius: 15px;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: cemter;
    align-items: center;
}
.perfilSuperior{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
.imgPerfil{
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
}
.imgPerfil img{
    max-width: 100%;
    border-radius: 50%;
}   
.nomePerfil{
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
    color: var(--darkGrayishBlue);
    padding-top: .3rem;
}
.idadePerfil{
    color: var(--darkGray);
    font-weight: 400;
}
.cidadePerfil{
    text-transform: capitalize;
    color: var(--darkgray);
    font-size: 14px;
    padding-top: .5rem;
    margin-bottom: 1rem;
}
.perfilRodape{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e9e9e9;
    width: 100%;
}
.perfilNumeros{
    display: flex;
    justify-content: space-around;
}
.itensPerfilNumeros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
} 
.numeros{
    font-weight: 700;
    font-size:20px;
    margin-bottom: .2rem;
}
.descricao{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 300;
}

